body {
    background-color: rgb(123,188,255);
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    margin: auto;
    padding: 65px;
    text-align: center;
    background-image: linear-gradient(to bottom, #2779C3,#3F729F, #4B6E8E);
}

header h1 {
    color: #fff;
    font-size: 40px;
}

header p {
    color: rgb(124,177,231);
    padding-top: 15px;
}

nav {
    background-color: rgb(82,110,132);
    padding: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 10px #517599;
    border-bottom-left-radius: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(247,254,255);
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: #7ABCFF;
    color: #2578CC;
}

main {
    background-color: #fff;
    margin: 25px auto;
    text-align: center;
    min-width: 320px;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 0 1em #6C93B4;
    text-indent: 30px;
}

main p {
    text-indent: 30px;
    text-align: justify;
    margin: 15px 7px;
}

h2 {
    text-align: center;
    background-image: linear-gradient(to right, #82BEFA, #C6E4FF, #ffffff);
    color: rgb(80,112,133);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

figure img {
    border: 1px solid #000;
}

aside > ul {
    list-style-position: inside;
    text-align: justify;
    background-color: #2578CC;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
}

aside > h3 {
    text-align: center;
    background-color: #174B80;
    color: #FFF;
    border-radius: 10px 10px 0px 0px;
    margin: 15px 10px 0px 10px;
}

figcaption{
    font-size: 12px;
}
pre{
    text-align: center;
    margin-bottom: 20px;
}

aside{
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
}


footer{
    margin-top: 10px;
    background-color: #174B80;
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

footer > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
} 

iframe{
    margin: 15px;
    border: 1px;
    border-style: solid;
    border-color: #174B80;
    padding: 2px;
    text-align: center;
}

ul{
    text-decoration: none;
}
li{
    list-style-position: inside;
    text-align: justify;
    padding-left: 20px;
    text-decoration: none;
}

#quote {
    font-weight:500;
    font-style: italic;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 380px;
    text-align:left;
    font-weight: bold;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px; 
}

button {
    margin-left: .5em;
}
